%table.table.table-striped
  %thead
    %tr
      -# %th= model_class.human_attribute_name(:id)
      %th título
      %th descrição
      -# %th= model_class.human_attribute_name(:created_at)
      %th ação
  %tbody
    = render product
