%tr
  -# %td= link_to product.id, product_path(product)
  %td
    = highlight product.title, @kw
    %br
    %small= highlight product.title_phonetized, @kw_phonetized
  %td
    = highlight product.description, @kw
    %br
    %small= highlight product.description_phonetized, @kw_phonetized
  -# %td=l product.created_at
  %td
    = link_to edit_product_path(product), :class => 'btn btn-mini' do
      %i.icon-pencil
    = link_to product_path(product), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-mini btn-danger' do
      %i.icon-remove.icon-white
