- model_class = Product
%form.form-horizontal{action: products_path}
  %input{type: :text, name: :q, placeholder: "Search", value: @kw}
  %button.btn OK
  = link_to "View all", products_path, class: "btn btn-mini"

- if @kw
  .well
    Busca por: #{@kw}
    %br
    Phonetized: #{@kw_phonetized}

.row
  .span12
    %small
      - @list.each do |item|
        = link_to item, products_path(q: item)
  .span6
    .page-header
      %h2
        v3
        %br
        %small Busca com acts_as_indexed
    = render partial: "list", locals: {product: @products3}

  .span6
    .page-header
      %h2
        v4
        %br
        %small Busca com acts_as_fulltextable
    = render partial: "list", locals: {product: @products4}

.row
  .span6
    .page-header
      %h2
        v1
        %br
        %small Busca em qualquer trecho da palavra
    = render partial: "list", locals: {product: @products}

  .span6
    .page-header
      %h2
        v2
        %br
        %small Busca em palavras inteiras
    = render partial: "list", locals: {product: @products2}



%hr

= link_to t('.new', :default => t("helpers.links.new")), new_product_path, :class => 'btn btn-primary'

